<% @projects.each do |project| %>
	<div class="project_partial">
		<div class='row'>
			<div class='col-lg-12'>
				<div class="accordion" id="accordionExample">
					<h3 id="header">
						<span class="id-label img-circle">#<%= project.id %></span>

						 <%= link_to project.project_name, project_path(project), class: 'color-head' %>
					

						</h3>
					<div class="goal"><%= project.goal %></div>
					 <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= project.id %>" aria-expanded="true" aria-controls="collapse<%= project.id %>">
	  		<i class="fa fa-arrow-circle-down big"></i>
        	</button>
        <div id="collapse<%= project.id %>" class="collapse" aria-labelledby="header" data-parent="#accordionExample">
					<% if project.todos %>
						<% if get_percent(project) %>
							<div class="progress project-progress align-middle">
					  		<div class="progress-bar green" role="progressbar" style="width: <%= get_percent(project) %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						<%end%>
					<%end%>
					<div class="row">
						<span class="col-sm-6 align-middle">
							<% if project.end === true %>
								Beendet :-)
							<% else %>
								noch offen
							<% end %>
						</span>
						<span class="col-sm-6">
								erstellt von: <%= project.created_by %>
						</span>
						<span class="col-sm-6">
							Gesamtkosten: <%= get_cost(project.todos)%>
						</span>
					</div>
				</div>
				</div>
	</div>
</div>
</div>
<% end %>


